<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ha HA... (in mickey voice) Awesome job {{a_name}}, you did it!!</h1>
    <a class="btn btn-primary" href="/logout">Logout</a>

    <h2>You guys are great</h2>
    <ul>
        {% for name in people %}
            <li>
                <a href="/congrats/{{name}}">{{name}}</a>
            </li>
        {% endfor %}
    </ul>

    <h1>{{ request.session.sEmail }}</h1>


</body>
</html>