<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Mickey Page</title>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <h1>Login or Register</h1>
        </div>
        <div class="row">
            <div class="col">
                <h1>Register for an Account</h1>
            </div>
            <div class="col">
                <h1>Login</h1>
                <form action="/login" method="post">
                    {% csrf_token %}
                    <input class="form-control" type="text" name='email' placeholder="Email">
                    <input class="form-control" type="password" name='password' placeholder="Password">
                    <button class="form-control-sm" type="submit">Login</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>